<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="_g.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <_g.Properties.Settings>
            <setting name="SMLERPGlobal_SMLJAVAWS_PO_SMLFrameWorkService"
                serializeAs="String">
                <value>http://hunter:8083/SMLWS/services/SMLFrameWork</value>
            </setting>
            <setting name="SMLERPGlobal_SMLJAVAWS_PO1_SMLFrameWorkService"
                serializeAs="String">
                <value>http://hunter:8083/SMLWS/services/SMLFrameWork</value>
            </setting>
            <setting name="SMLERPGlobal_SMLJavaWebService_SMLFrameWorkService"
                serializeAs="String">
                <value>http://localhost:80/SMLJavaWebService/SMLFrameWork</value>
            </setting>
        </_g.Properties.Settings>
    </applicationSettings>
</configuration>